<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Delivered Email</title>
</head>
<body>
  <style>
{{!--     .logoContainer {
      background-color: #000;
    } --}}
    .logoContainer > img {
      width: 50px;
    }
    .alertNotification {
      display: flex;
      color: #FF6700;
      fill: #FF6700;
    }
    .svgContainer {
      width: 50px;
    }

    .deliveryImg {
      width: 150px;
    }
  </style>
  <div class="logoContainer">
      <img  src="https://firebasestorage.googleapis.com/v0/b/vestaz.appspot.com/o/FrontEnd%2Fvesta-titulo-creado.png?alt=media&token=cd6d68c2-00c1-4b61-9d0c-a519ae17e40f">
  </div>
  <div class="deliveryImg">
    <img src="https://firebasestorage.googleapis.com/v0/b/vestaz.appspot.com/o/deliver.png?alt=media&token=32e10616-0aae-4bfc-8755-d861ce464eb7" alt="deliver">
  </div>
  <h2>Hola {{name}},</h2>
  <p>¡Tenemos buenas noticias! Su pedido con identificador: {{idPedido}}, se a entregado el {{DateSending}}, en: {{direccionDefaul}} . Para cualquier pregunta, puedes contactar con el servicio de Atención al Cliente de nuestro Centro de Soporte.</p>
  <p>Id del pedido: {{idPedido}}. </p>
  <p>Correo Electrónico: {{email}}. </p>
  <p>Dirección de entrega: {{direccionDefaul}}. </p>
  <p>Fecha de entrega: {{DateSending}}. </p>
  <br>
  <div>
    <p>¡Gracias por confiar en nosotros!</p>
    <p>El equipo de Vestaz.</p>  
  </div>
 <footer>
   <small>Nota: es fundamental inspeccionar la mercancía en el momento de su recepción para comprobar que no haya sufrido daños durante el transporte. Los daños evidentes (daños visibles en el exterior) deben ser comunicados de inmediato al mensajero de la empresa de mensajería. En este caso, usted puede rechazar la aceptación del paquete. Los daños ocultos que se descubran después de haber aceptado el paquete deben ser comunicados de inmediato a nuestro equipo de atención al cliente.</small><br/><br/>
  <small>Una vez que la mercancía haya sido revisada por el agente de transporte y devuelta a nosotros, procederemos de inmediato a enviarle una sustitución o a reembolsarle el precio de compra.</small>
 </footer>
</body>
</html>