<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sending Email</title>
</head>
<body>
  <div>
      <img  class="logoIcon " src="https://testingserver-vesta.herokuapp.com/Img/Logo_Mesa%20Vesta.png" >
  </div>
  <h2>Hello {{name}}! </h2>
   <p>Sendingggggg..... ¡Tenemos buenas noticias para usted! Su pedido n.º 59602202, realizado el 04.01.2022 11:33:35, acaba de ser embalado en nuestro almacén y está listo para ser enviado a: Silla </p>
  <p>Id del pedido:{{idPedido}}. </p>
  <p>Correo Electronico: {{email}}. </p>
  <p>Direccion de envio:{{direccionDefaul}}. </p>
  <p>Fecha de Envio:{{DateSending}}. </p>
  

</body>
</html>